<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="passwordValidatorRegex" class="de.ait.shop.validation.impl.PasswordValidatorRegexImpl"/>

    <bean id="passwordValidatorNotEmpty" class="de.ait.shop.validation.impl.PasswordNotEmptyValidatorImpl"/>

    <bean id="emailValidatorRegex" class="de.ait.shop.validation.impl.EmailValidatorRegexImpl"/>

    <bean id="dataSource" class="com.zaxxer.hikari.HikariDataSource">
        <constructor-arg>
            <bean class="com.zaxxer.hikari.HikariConfig">
                <property name="driverClassName" value="org.h2.Driver" />
                <property name="jdbcUrl" value="jdbc:h2:file:~/databases/lessonThree_db;AUTO_SERVER=TRUE" />
                <property name="username" value="admin" />
                <property name="password" value="qwerty007" />
            </bean>
        </constructor-arg>
    </bean>

    <bean id="repositoryJdbc" class="de.ait.shop.repositories.impl.UsersRepositoryJdbsImpl">
    <constructor-arg name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="userService" class="de.ait.shop.services.impl.UsersServiceImpl">
        <constructor-arg name="emailValidatorRegex" ref="emailValidatorRegex"/>
        <constructor-arg name="passwordValidatorRegex" ref="passwordValidatorRegex"/>
        <constructor-arg name="usersRepositoryFile" ref="repositoryJdbc"/>

    </bean>

    <bean id="controller" class="de.ait.shop.controller.UserController">
        <constructor-arg name="scanner" value="scanner"/>
        <constructor-arg name="usersService" ref="userService"/>
    </bean>


</beans>